<ion-tabs>

  <ion-tab tab="location">
    <ion-router-outlet name="location"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="establishments">
    <ion-router-outlet name="establishments"></ion-router-outlet>
  </ion-tab>

  <ion-tab tab="restaurants">
    <ion-router-outlet name="restaurants"></ion-router-outlet>
  </ion-tab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="location" href="/tabs/(location:location)">
      <ion-icon name="md-compass"></ion-icon>
      <ion-label>Location</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
