// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.sc-ion-card-md-h {
    width: 100%;
    margin-bottom: 45px;
    margin-top: 45px;
}

.ion-color.sc-ion-label-md-h {
    margin-left: 18px;
}

#locationContainer {
    --background: url('assets/bckground.jpg') no-repeat 100% 100%;
}

#tabLabel {
    margin-left: 0px;
}